@{
    ViewBag.Title = "The Free Spell Check";
}
<script type="text/x-kendo-template" id="backgroundColor-template">
    <select id="language" style="width: 200px" title="Select language.">
        @foreach (string language in SpellCheckMeOnlineWeb.Infrastructure.SpellEngineManager.Languages)
        {
            <option>@language</option>
        }
    </select>
</script>

<script type="text/x-kendo-template" id="templateButtonSpellCheck">
    <input type="button" name="btnNavigate" id="btnNavigate" onclick="btnNavigate(); return false;" class="k-button" value="Spell Check" title="Run a spell check on the text below." />
</script>


<div class="k-block k-info-colored">Info Block</div>
<input type="url" id="tbUrl" class="k-textbox" placeholder="Enter URL" style="width:100%" />
<textarea id="editor" rows="10" cols="30" style="width:100%;height:400px">Paste some text or HTML here.</textarea>
<div id="divSummary"></div>

<script>
    $(document).ready(() => {
        $("#editor").kendoEditor({
            tools: [
                {
                    name: "customTemplateButton",
                    template: $("#templateButtonSpellCheck").html()
                },
                {
                    name: "customTemplate",
                    template: $("#backgroundColor-template").html()
                },



               //"bold",
               //"italic",
               //"underline",
               //"strikethrough",
               //"justifyLeft",
               //"justifyCenter",
               //"justifyRight",
               //"justifyFull",
               //"insertUnorderedList",
               //"insertOrderedList",
               //"indent",
               //"outdent",
               //"createLink",
               //"unlink",
               //"insertImage",
               //"insertFile",
               //"subscript",
               //"superscript",
               //"createTable",
               //"addRowAbove",
               //"addRowBelow",
               //"addColumnLeft",
               //"addColumnRight",
               //"deleteRow",
               //"deleteColumn",
               "viewHtml",
               //"formatting",
               //"cleanFormatting",
               //"fontName",
               //"fontSize",
               //"foreColor",
               //"backColor",
               "print",
               "pdf"
            ]
            //,
            //resizable: {
            //    content: true,
            //    toolbar: true
              
            //}
        });


        $("#language").kendoDropDownList({ filter: "startswith", delay: 1 });

        //$("#templateTool").kendoDropDownList({
        //    change: function (e) {
        //        $("#editor").data("kendoEditor").body.style.backgroundColor = e.sender.value();
        //    }
    //});

    });
</script>

<script>

    function htmlEncode(value) {
        //create a in-memory div, set it's inner text(which jQuery automatically encodes)
        //then grab the encoded contents back out.  The div never exists on the page.
        return $('<div/>').text(value).html();
    }

    function htmlDecode(value) {
        return $('<div/>').html(value).text();
    }

    function btnNavigate() {
        debugger;
        var url = $("#tbUrl").val();
        sessionStorage.setItem('url', url);
        $.ajax({
            method: "GET",
            url: document.location.origin + "/Home/GetHtml",
            data: {
                urlString: url
            }
        }).done(function (html) {
            debugger;
            var url = sessionStorage.getItem('url');
            var editor = $("#editor").data("kendoEditor");
         
            if (html == "") {
                html = editor.value();
            }
            else {
                debugger;
                editor.value(html);
                html = editor.value(); //ВАЖНО ДА ГО ИМА
            }
            var htmlEncoded = htmlEncode(html);
            var text = html.replace(/(<([^>]+)>)/ig, "");
            var dropdownlist = $("#language").data("kendoDropDownList");
            var langugage = dropdownlist.value();
            $.ajax({
                method: "POST",
                url: document.location.origin +
                    "/Home/SpellText",
                data: {
                    htmlEncoded: htmlEncoded,
                    text: text,
                    langugage: langugage
                }
            }).done(function (result) {
                var editor = $("#editor").data("kendoEditor");
                debugger;
                editor.value(result.html);
                $("#divSummary").html(result.summary);
                $("#grid").kendoGrid({
                    toolbar: ["excel", "pdf"],
                    pageable: {
                        pageSize: 5
                    },
                    sortable: true
                });
                //var head = $("iframe").contents().find("head");
                //head.append('<link rel="stylesheet" href="http://kendo.cdn.telerik.com/2016.1.226/styles/kendo.common-office365.min.css">');
                //head.append('<link rel="stylesheet" href="http://kendo.cdn.telerik.com/2016.1.226/styles/kendo.office365.min.css">');
                //head.append('<script src="http://code.jquery.com/jquery-1.9.1.min.js"><//script>');
                //head.append('<script src="http://kendo.cdn.telerik.com/2016.1.226/js/kendo.all.min.js"><//script>');
                //var body = $("iframe").contents().find("body");
                //body.append('<script>function targetFunction() { debugger; var tooltip = $("iframe").contents().find("#editorDiv").kendoTooltip({ filter: "span", width: 120, position: "top" }).data("kendoTooltip");  }; targetFunction();<\/script>');
            });
        });
    };

</script>
